.contenedor-nav {
    grid-area: contenedor-nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    & &__header-imagen {
        align-content: center;
        justify-content: center;
    }    
    & &__header-text {
        a {
          text-decoration: none;
          color: black;
            &:hover {
                color: black;
            }
        h1 {
            text-align: center;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 2.5rem;
            font-weight: 400; 
           }
        h2 {
            text-align: center;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            padding-bottom: 1rem;    
            } 
        }
    & &__header-nav {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        //aca no se como hacer para conectarlos y no se si esta bien 
        .redes-nav ul li
        {
            display: inline-block;
            margin: 0 .3rem;     
            img {
                width: 3rem;
                height: auto;
            }
            &:hover {
                    transform: translateY(-5px) scale(1.05);
            }
        } 
    }   
    & &__nav-menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            ul li {
                    list-style: none;
                    padding: 0 .8rem;
                    a {
                        text-decoration: none;
                        color: black;
                        font-family: 'Noto Sans TC', sans-serif;
                        font-size: 1.2rem;
                        
                    }
                    &:hover {
                            transform: translateY(-5px) scale(1.05);
                            }
                  }
           

           
    }
}
}
    




